:root {

  --globalFontSize: 100%;
  --globalLineHeight: 1.5;

  --bodyFont: 'Raleway', sans-serif;
  --Segoe: 'SegoeUI', 'Helvetica', sans-serif;

  --white: #FFFFFF;
  --black: #000000;

  --green: #0be09e;
  --orange: #faaa44;
  --red: #eb5240;
  --dark: #2e3e4e;

  --hamburgerLineHeight: 2px;
  --hamburgerWidth: 28px;
  --hamburgerSpacing: 8px;

}