/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

figure {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 0;
  overflow: hidden;
}

figure img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

a:hover, a:focus {
  outline: none;
  text-decoration: none;
}

button,
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
}

button:hover, button:focus,
input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled.button {
  cursor: not-allowed;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
  visibility: hidden;
}

.main {
  padding-top: 75px;
}

.section {
  position: relative;
}

.wrapper {
  position: relative;
  padding: 0 40px;
  margin: 0 auto;
  z-index: 1;
}

.container {
  position: relative;
  max-width: 1800px;
  margin: 0 auto;
}

.row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row.align-v {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col {
  width: 100%;
}

.col:not(:first-child) {
  margin-left: 2.85714286%;
}

.col-half {
  width: 50%;
}

.col-half:not(:first-child) {
  margin: 0;
}

.col--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-sm-1 {
  width: 5.71428571%;
}

.col.offset-sm-1 {
  margin-left: 11.42857143%;
}

.col-sm-2 {
  width: 14.28571429%;
}

.col.offset-sm-2 {
  margin-left: 20%;
}

.col-sm-3 {
  width: 22.85714286%;
}

.col.offset-sm-3 {
  margin-left: 28.57142857%;
}

.col-sm-4 {
  width: 31.42857143%;
}

.col.offset-sm-4 {
  margin-left: 37.14285714%;
}

.col-sm-5 {
  width: 40%;
}

.col.offset-sm-5 {
  margin-left: 45.71428571%;
}

.col-sm-6 {
  width: 48.57142857%;
}

.col.offset-sm-6 {
  margin-left: 54.28571429%;
}

.col-sm-7 {
  width: 57.14285714%;
}

.col.offset-sm-7 {
  margin-left: 62.85714286%;
}

.col-sm-8 {
  width: 65.71428571%;
}

.col.offset-sm-8 {
  margin-left: 71.42857143%;
}

.col-sm-9 {
  width: 74.28571429%;
}

.col.offset-sm-9 {
  margin-left: 80%;
}

.col-sm-10 {
  width: 82.85714286%;
}

.col.offset-sm-10 {
  margin-left: 88.57142857%;
}

.col-sm-11 {
  width: 91.42857143%;
}

.col.offset-sm-11 {
  margin-left: 97.14285714%;
}

.col.col-sm-12 {
  margin-left: 0;
}

.col-sm-12 {
  width: 100%;
}

.col.offset-sm-12 {
  margin-left: 105.71428571%;
}

@media (max-width: 41.865em) {
  .col.offset-sm-0 {
    margin-left: 0;
  }
}

@media (min-width: 41.875em) {
  .col-md-1 {
    width: 5.71428571%;
  }
  .col.offset-md-1 {
    margin-left: 8.57142857%;
  }
  .col-md-2 {
    width: 14.28571429%;
  }
  .col.offset-md-2 {
    margin-left: 17.14285714%;
  }
  .col-md-3 {
    width: 22.85714286%;
  }
  .col.offset-md-3 {
    margin-left: 25.71428571%;
  }
  .col-md-4 {
    width: 31.42857143%;
  }
  .col.offset-md-4 {
    margin-left: 34.28571429%;
  }
  .col-md-5 {
    width: 40%;
  }
  .col.offset-md-5 {
    margin-left: 42.85714286%;
  }
  .col-md-6 {
    width: 48.57142857%;
  }
  .col.offset-md-6 {
    margin-left: 51.42857143%;
  }
  .col-md-7 {
    width: 57.14285714%;
  }
  .col.offset-md-7 {
    margin-left: 60%;
  }
  .col-md-8 {
    width: 65.71428571%;
  }
  .col.offset-md-8 {
    margin-left: 68.57142857%;
  }
  .col-md-9 {
    width: 74.28571429%;
  }
  .col.offset-md-9 {
    margin-left: 77.14285714%;
  }
  .col-md-10 {
    width: 82.85714286%;
  }
  .col.offset-md-10 {
    margin-left: 85.71428571%;
  }
  .col-md-11 {
    width: 91.42857143%;
  }
  .col.offset-md-11 {
    margin-left: 94.28571429%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col.offset-md-12 {
    margin-left: 102.85714286%;
  }
}

@media (min-width: 41.875em) and (max-width: 62.49em) {
  .col.offset-md-0 {
    margin-left: 0;
  }
}

@media (min-width: 62.5em) {
  .col-lg-1 {
    width: 5.71428571%;
  }
  .col.offset-lg-1 {
    margin-left: 8.57142857%;
  }
  .col-lg-2 {
    width: 14.28571429%;
  }
  .col.offset-lg-2 {
    margin-left: 17.14285714%;
  }
  .col-lg-3 {
    width: 22.85714286%;
  }
  .col.offset-lg-3 {
    margin-left: 25.71428571%;
  }
  .col-lg-4 {
    width: 31.42857143%;
  }
  .col.offset-lg-4 {
    margin-left: 34.28571429%;
  }
  .col-lg-5 {
    width: 40%;
  }
  .col.offset-lg-5 {
    margin-left: 42.85714286%;
  }
  .col-lg-6 {
    width: 48.57142857%;
  }
  .col.offset-lg-6 {
    margin-left: 51.42857143%;
  }
  .col-lg-7 {
    width: 57.14285714%;
  }
  .col.offset-lg-7 {
    margin-left: 60%;
  }
  .col-lg-8 {
    width: 65.71428571%;
  }
  .col.offset-lg-8 {
    margin-left: 68.57142857%;
  }
  .col-lg-9 {
    width: 74.28571429%;
  }
  .col.offset-lg-9 {
    margin-left: 77.14285714%;
  }
  .col-lg-10 {
    width: 82.85714286%;
  }
  .col.offset-lg-10 {
    margin-left: 85.71428571%;
  }
  .col-lg-11 {
    width: 91.42857143%;
  }
  .col.offset-lg-11 {
    margin-left: 94.28571429%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col.offset-lg-12 {
    margin-left: 102.85714286%;
  }
}

@media (min-width: 62.5em) {
  .col.offset-lg-0 {
    margin-left: 0;
  }
}

@media (min-width: 68.75em) {
  .col-wd-1 {
    width: 5.71428571%;
  }
  .col.offset-wd-1 {
    margin-left: 8.57142857%;
  }
  .col-wd-2 {
    width: 14.28571429%;
  }
  .col.offset-wd-2 {
    margin-left: 17.14285714%;
  }
  .col-wd-3 {
    width: 22.85714286%;
  }
  .col.offset-wd-3 {
    margin-left: 25.71428571%;
  }
  .col-wd-4 {
    width: 31.42857143%;
  }
  .col.offset-wd-4 {
    margin-left: 34.28571429%;
  }
  .col-wd-5 {
    width: 40%;
  }
  .col.offset-wd-5 {
    margin-left: 42.85714286%;
  }
  .col-wd-6 {
    width: 48.57142857%;
  }
  .col.offset-wd-6 {
    margin-left: 51.42857143%;
  }
  .col-wd-7 {
    width: 57.14285714%;
  }
  .col.offset-wd-7 {
    margin-left: 60%;
  }
  .col-wd-8 {
    width: 65.71428571%;
  }
  .col.offset-wd-8 {
    margin-left: 68.57142857%;
  }
  .col-wd-9 {
    width: 74.28571429%;
  }
  .col.offset-wd-9 {
    margin-left: 77.14285714%;
  }
  .col-wd-10 {
    width: 82.85714286%;
  }
  .col.offset-wd-10 {
    margin-left: 85.71428571%;
  }
  .col-wd-11 {
    width: 91.42857143%;
  }
  .col.offset-wd-11 {
    margin-left: 94.28571429%;
  }
  .col-wd-12 {
    width: 100%;
  }
  .col.offset-wd-12 {
    margin-left: 102.85714286%;
  }
}

@media (min-width: 68.75em) {
  .col.offset-wd-0 {
    margin-left: 0;
  }
}

.col-sm-1 {
  width: 5.71428571%;
}

.col.offset-sm-1 {
  margin-left: 11.42857143%;
}

.col-sm-2 {
  width: 14.28571429%;
}

.col.offset-sm-2 {
  margin-left: 20%;
}

.col-sm-3 {
  width: 22.85714286%;
}

.col.offset-sm-3 {
  margin-left: 28.57142857%;
}

.col-sm-4 {
  width: 31.42857143%;
}

.col.offset-sm-4 {
  margin-left: 37.14285714%;
}

.col-sm-5 {
  width: 40%;
}

.col.offset-sm-5 {
  margin-left: 45.71428571%;
}

.col-sm-6 {
  width: 48.57142857%;
}

.col.offset-sm-6 {
  margin-left: 54.28571429%;
}

.col-sm-7 {
  width: 57.14285714%;
}

.col.offset-sm-7 {
  margin-left: 62.85714286%;
}

.col-sm-8 {
  width: 65.71428571%;
}

.col.offset-sm-8 {
  margin-left: 71.42857143%;
}

.col-sm-9 {
  width: 74.28571429%;
}

.col.offset-sm-9 {
  margin-left: 80%;
}

.col-sm-10 {
  width: 82.85714286%;
}

.col.offset-sm-10 {
  margin-left: 88.57142857%;
}

.col-sm-11 {
  width: 91.42857143%;
}

.col.offset-sm-11 {
  margin-left: 97.14285714%;
}

.col.col-sm-12 {
  margin-left: 0;
}

.col-sm-12 {
  width: 100%;
}

.col.offset-sm-12 {
  margin-left: 105.71428571%;
}

@media (max-width: 41.865em) {
  .col.offset-sm-0 {
    margin-left: 0;
  }
}

@media (min-width: 41.875em) {
  .col-md-1 {
    width: 5.71428571%;
  }
  .col.offset-md-1 {
    margin-left: 8.57142857%;
  }
  .col-md-2 {
    width: 14.28571429%;
  }
  .col.offset-md-2 {
    margin-left: 17.14285714%;
  }
  .col-md-3 {
    width: 22.85714286%;
  }
  .col.offset-md-3 {
    margin-left: 25.71428571%;
  }
  .col-md-4 {
    width: 31.42857143%;
  }
  .col.offset-md-4 {
    margin-left: 34.28571429%;
  }
  .col-md-5 {
    width: 40%;
  }
  .col.offset-md-5 {
    margin-left: 42.85714286%;
  }
  .col-md-6 {
    width: 48.57142857%;
  }
  .col.offset-md-6 {
    margin-left: 51.42857143%;
  }
  .col-md-7 {
    width: 57.14285714%;
  }
  .col.offset-md-7 {
    margin-left: 60%;
  }
  .col-md-8 {
    width: 65.71428571%;
  }
  .col.offset-md-8 {
    margin-left: 68.57142857%;
  }
  .col-md-9 {
    width: 74.28571429%;
  }
  .col.offset-md-9 {
    margin-left: 77.14285714%;
  }
  .col-md-10 {
    width: 82.85714286%;
  }
  .col.offset-md-10 {
    margin-left: 85.71428571%;
  }
  .col-md-11 {
    width: 91.42857143%;
  }
  .col.offset-md-11 {
    margin-left: 94.28571429%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col.offset-md-12 {
    margin-left: 102.85714286%;
  }
}

@media (min-width: 41.875em) and (max-width: 62.49em) {
  .col.offset-md-0 {
    margin-left: 0;
  }
}

@media (min-width: 62.5em) {
  .col-lg-1 {
    width: 5.71428571%;
  }
  .col.offset-lg-1 {
    margin-left: 8.57142857%;
  }
  .col-lg-2 {
    width: 14.28571429%;
  }
  .col.offset-lg-2 {
    margin-left: 17.14285714%;
  }
  .col-lg-3 {
    width: 22.85714286%;
  }
  .col.offset-lg-3 {
    margin-left: 25.71428571%;
  }
  .col-lg-4 {
    width: 31.42857143%;
  }
  .col.offset-lg-4 {
    margin-left: 34.28571429%;
  }
  .col-lg-5 {
    width: 40%;
  }
  .col.offset-lg-5 {
    margin-left: 42.85714286%;
  }
  .col-lg-6 {
    width: 48.57142857%;
  }
  .col.offset-lg-6 {
    margin-left: 51.42857143%;
  }
  .col-lg-7 {
    width: 57.14285714%;
  }
  .col.offset-lg-7 {
    margin-left: 60%;
  }
  .col-lg-8 {
    width: 65.71428571%;
  }
  .col.offset-lg-8 {
    margin-left: 68.57142857%;
  }
  .col-lg-9 {
    width: 74.28571429%;
  }
  .col.offset-lg-9 {
    margin-left: 77.14285714%;
  }
  .col-lg-10 {
    width: 82.85714286%;
  }
  .col.offset-lg-10 {
    margin-left: 85.71428571%;
  }
  .col-lg-11 {
    width: 91.42857143%;
  }
  .col.offset-lg-11 {
    margin-left: 94.28571429%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col.offset-lg-12 {
    margin-left: 102.85714286%;
  }
}

@media (min-width: 62.5em) {
  .col.offset-lg-0 {
    margin-left: 0;
  }
}

@media (min-width: 68.75em) {
  .col-wd-1 {
    width: 5.71428571%;
  }
  .col.offset-wd-1 {
    margin-left: 8.57142857%;
  }
  .col-wd-2 {
    width: 14.28571429%;
  }
  .col.offset-wd-2 {
    margin-left: 17.14285714%;
  }
  .col-wd-3 {
    width: 22.85714286%;
  }
  .col.offset-wd-3 {
    margin-left: 25.71428571%;
  }
  .col-wd-4 {
    width: 31.42857143%;
  }
  .col.offset-wd-4 {
    margin-left: 34.28571429%;
  }
  .col-wd-5 {
    width: 40%;
  }
  .col.offset-wd-5 {
    margin-left: 42.85714286%;
  }
  .col-wd-6 {
    width: 48.57142857%;
  }
  .col.offset-wd-6 {
    margin-left: 51.42857143%;
  }
  .col-wd-7 {
    width: 57.14285714%;
  }
  .col.offset-wd-7 {
    margin-left: 60%;
  }
  .col-wd-8 {
    width: 65.71428571%;
  }
  .col.offset-wd-8 {
    margin-left: 68.57142857%;
  }
  .col-wd-9 {
    width: 74.28571429%;
  }
  .col.offset-wd-9 {
    margin-left: 77.14285714%;
  }
  .col-wd-10 {
    width: 82.85714286%;
  }
  .col.offset-wd-10 {
    margin-left: 85.71428571%;
  }
  .col-wd-11 {
    width: 91.42857143%;
  }
  .col.offset-wd-11 {
    margin-left: 94.28571429%;
  }
  .col-wd-12 {
    width: 100%;
  }
  .col.offset-wd-12 {
    margin-left: 102.85714286%;
  }
}

@media (min-width: 68.75em) {
  .col.offset-wd-0 {
    margin-left: 0;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #FFFFFF;
  color: #000000;
}

html.no-overflow, body.no-overflow {
  overflow: hidden;
}

.hamburger {
  position: fixed;
  right: 13px;
  top: 8px;
  z-index: 1000;
  display: block;
  width: calc(28px + 8px * 2);
  height: calc(28px + 8px * 2);
  border: 0;
  background: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: .2s all;
  transition: .2s all;
  -webkit-transform: translate3d(5px, 0, 0);
          transform: translate3d(5px, 0, 0);
}

.hamburger:focus, .hamburger:hover {
  outline: 0;
}

@media (min-width: 62.5em) {
  .hamburger {
    display: none;
    visibility: hidden;
  }
}

.hamburger__text {
  display: none;
}

.hamburger__line {
  display: block;
  height: 2px;
  width: calc(28px/1);
  position: absolute;
  top: 50%;
  right: 8px;
  background: #faaa44;
  -webkit-transition: .4s all;
  transition: .4s all;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.hamburger__line:first-child {
  width: 28px;
}

.hamburger__line:last-child {
  width: 28px;
}

.hamburger__line:first-child {
  -webkit-transform: translateY(calc(8px * -1));
          transform: translateY(calc(8px * -1));
}

.hamburger__line:last-child {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.hamburger[aria-expanded="true"] .hamburger__line,
.hamburger-expanded .hamburger__line {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  opacity: 0;
}

.hamburger[aria-expanded="true"] .hamburger__line:first-child,
.hamburger-expanded .hamburger__line:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 1;
}

.hamburger[aria-expanded="true"] .hamburger__line:last-child,
.hamburger-expanded .hamburger__line:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
}

.rc-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  max-width: 350px;
  visibility: visible;
  line-height: 1.5;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1px;
  opacity: 0.9;
}

@media (min-width: 62.5em) {
  .rc-tooltip {
    max-width: 450px;
  }
}

.rc-tooltip-hidden {
  display: none;
}

.rc-tooltip-inner {
  padding: 8px 10px;
  color: #333333;
  text-align: left;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 3px;
  min-height: 34px;
  border: 1px solid #b1b1b1;
}

.rc-tooltip-arrow,
.rc-tooltip-arrow-inner {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.rc-tooltip-placement-top .rc-tooltip-arrow,
.rc-tooltip-placement-topLeft .rc-tooltip-arrow,
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  bottom: -5px;
  margin-left: -6px;
  border-width: 6px 6px 0;
  border-top-color: #b1b1b1;
}

.rc-tooltip-placement-top .rc-tooltip-arrow-inner,
.rc-tooltip-placement-topLeft .rc-tooltip-arrow-inner,
.rc-tooltip-placement-topRight .rc-tooltip-arrow-inner {
  bottom: 1px;
  margin-left: -6px;
  border-width: 6px 6px 0;
  border-top-color: #ffffff;
}

.rc-tooltip-placement-top .rc-tooltip-arrow {
  left: 50%;
}

.rc-tooltip-placement-topLeft .rc-tooltip-arrow {
  left: 15%;
}

.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  right: 15%;
}

.rc-tooltip-placement-right .rc-tooltip-arrow,
.rc-tooltip-placement-rightTop .rc-tooltip-arrow,
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
  left: -5px;
  margin-top: -6px;
  border-width: 6px 6px 6px 0;
  border-right-color: #b1b1b1;
}

.rc-tooltip-placement-right .rc-tooltip-arrow-inner,
.rc-tooltip-placement-rightTop .rc-tooltip-arrow-inner,
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow-inner {
  left: 1px;
  margin-top: -6px;
  border-width: 6px 6px 6px 0;
  border-right-color: #ffffff;
}

.rc-tooltip-placement-right .rc-tooltip-arrow {
  top: 50%;
}

.rc-tooltip-placement-rightTop .rc-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}

.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
  bottom: 15%;
}

.rc-tooltip-placement-left .rc-tooltip-arrow,
.rc-tooltip-placement-leftTop .rc-tooltip-arrow,
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
  right: -5px;
  margin-top: -6px;
  border-width: 6px 0 6px 6px;
  border-left-color: #b1b1b1;
}

.rc-tooltip-placement-left .rc-tooltip-arrow-inner,
.rc-tooltip-placement-leftTop .rc-tooltip-arrow-inner,
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow-inner {
  right: 1px;
  margin-top: -6px;
  border-width: 6px 0 6px 6px;
  border-left-color: #ffffff;
}

.rc-tooltip-placement-left .rc-tooltip-arrow {
  top: 50%;
}

.rc-tooltip-placement-leftTop .rc-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}

.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
  bottom: 15%;
}

.rc-tooltip-placement-bottom .rc-tooltip-arrow,
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow,
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
  top: -5px;
  margin-left: -6px;
  border-width: 0 6px 6px;
  border-bottom-color: #b1b1b1;
}

.rc-tooltip-placement-bottom .rc-tooltip-arrow-inner,
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow-inner,
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow-inner {
  top: 1px;
  margin-left: -6px;
  border-width: 0 6px 6px;
  border-bottom-color: #ffffff;
}

.rc-tooltip-placement-bottom .rc-tooltip-arrow {
  left: 50%;
}

.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow {
  left: 15%;
}

.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
  right: 15%;
}

@font-face {
  font-family: 'SegoeUI', 'Helvetica', sans-serif;
  src: url("../fonts/SegoeUI/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI.ttf") format("truetype"), url("../fonts/SegoeUI/SegoeUI.svg#SegoeUI") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1, .h1 {
  font-size: 2.8rem;
  line-height: 38px;
}

@media (min-width: 41.875em) {
  h1, .h1 {
    font-size: 3.6rem;
    line-height: 46px;
  }
}

@media (min-width: 62.5em) {
  h1, .h1 {
    font-size: 4.8rem;
    line-height: 58px;
  }
}

h2, .h2 {
  font-size: 2rem;
  line-height: 30px;
}

@media (min-width: 41.875em) {
  h2, .h2 {
    font-size: 2.6rem;
    line-height: 36px;
  }
}

@media (min-width: 62.5em) {
  h2, .h2 {
    font-size: 3.1rem;
    line-height: 41px;
  }
}

h3, .h3 {
  font-size: 1.8rem;
  line-height: 28px;
}

@media (min-width: 62.5em) {
  h3, .h3 {
    font-size: 2.2rem;
    line-height: 34px;
  }
}

@media (min-width: 62.5em) {
  h3, .h3 {
    font-size: 2.6rem;
    line-height: 36px;
  }
}

h4, .h4 {
  font-size: 2.1rem;
  line-height: 31px;
}

p {
  margin-top: 20px;
}

p,
.bodytext {
  font-size: 1.6rem;
  line-height: 25px;
}

@media (min-width: 41.875em) {
  p,
  .bodytext {
    font-size: 2rem;
    line-height: 30px;
  }
}

@media (min-width: 62.5em) {
  p,
  .bodytext {
    font-size: 2.3rem;
    line-height: 30px;
  }
}

b,
.bold,
strong {
  font-weight: 700;
}

.upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.orange {
  color: #faaa44;
}

.red {
  color: #eb5240;
}

.white {
  color: #FFFFFF;
}

.green {
  color: #0be09e;
}

.icon {
  position: relative;
  display: inline-block;
}

.icon svg {
  display: block;
  width: 100%;
  height: auto;
}

.icon-crowdfunding-schema {
  display: block;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
  z-index: 2;
  -webkit-box-shadow: inset 0px -10px 1px -10px #6E7B83;
          box-shadow: inset 0px -10px 1px -10px #6E7B83;
}

@media (min-width: 62.5em) {
  .header {
    height: 75px;
  }
}

.header .row {
  position: relative;
  height: 100%;
  overflow: visible;
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .icon-lokalero {
  position: absolute;
  left: 10px;
  top: 100%;
  width: 60px;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}

@media (min-width: 41.875em) {
  .header .icon-lokalero {
    left: 20px;
    width: 120px;
  }
}

.header__contact.link {
  padding: 0 10px;
}

.header__contact.link .link__text {
  display: none;
  visibility: hidden;
}

.header__contact.link .icon {
  width: 20px;
}

@media (min-width: 41.875em) {
  .header__contact.link {
    padding: 0 20px;
  }
  .header__contact.link .link__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
  }
  .header__contact.link .icon {
    display: none;
    visibility: hidden;
  }
}

.header-lokal__background {
  position: relative;
  height: 100px;
  background-size: cover;
}

@media (min-width: 62.5em) {
  .header-lokal__background {
    height: 200px;
  }
}

.header-lokal__background:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  background-color: #faaa44;
  opacity: 0.7;
}

.header-lokal__background p {
  position: absolute;
  left: 0;
  bottom: 0;
  text-transform: uppercase;
  z-index: 1;
  font-family: 'SegoeUI', 'Helvetica', sans-serif;
  font-size: 4rem;
  line-height: 32px;
  color: #FFFFFF;
}

@media (min-width: 62.5em) {
  .header-lokal__background p {
    font-size: 6rem;
    line-height: 52px;
  }
}

.header-lokal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.mobNavOpened .header-lokal {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

@media (min-width: 62.5em) {
  .header-lokal {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    height: auto;
    -webkit-transform: none;
            transform: none;
    z-index: 0;
  }
}

.nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.is-lokal-page .nav-main {
  padding-right: 40px;
}

@media (min-width: 62.5em) {
  .is-lokal-page .nav-main {
    padding-right: 0;
  }
}

.nav-lokal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #FFFFFF;
  height: calc(100vh - 100px);
  background-color: #2e3e4e;
}

@media (min-width: 62.5em) {
  .nav-lokal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }
}

.nav-lokal__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20%;
}

@media (min-width: 62.5em) {
  .nav-lokal__item {
    width: 20%;
    height: 80px;
  }
}

.nav-lokal__item .icon {
  position: absolute;
  left: 10px;
  bottom: 0;
  display: none;
  width: 90px;
  z-index: 1;
}

@media (min-width: 62.5em) {
  .nav-lokal__item .icon {
    left: 50%;
    bottom: 100%;
    -webkit-transform: translate3d(-50%, -15px, 0);
            transform: translate3d(-50%, -15px, 0);
  }
}

.nav-lokal__item:nth-child(odd) .icon {
  left: auto;
  right: 10px;
}

@media (min-width: 62.5em) {
  .nav-lokal__item:nth-child(odd) .icon {
    right: auto;
    left: 50%;
  }
}

.nav-lokal__item .icon-pro {
  width: 80px;
}

.nav-lokal__item .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 1.6rem;
}

@media (min-width: 62.5em) {
  .nav-lokal__item .link {
    height: 80px;
    font-size: 2rem;
  }
}

.nav-lokal__item:focus .link {
  background-color: #faaa44;
}

.nav-lokal__item:hover .link {
  background-color: #faaa44;
}

.nav-lokal__item:focus .icon, .nav-lokal__item:hover .icon {
  display: block;
}

.nav__current--item .link {
  background-color: #faaa44;
}

.nav__current--item .icon {
  display: block;
}

.footer {
  padding: 0 0 50px;
  color: #FFFFFF;
  background-color: #2e3e4e;
}

.footer figure {
  width: 120px;
}

.footer .nav-wrap {
  font-size: 2.3rem;
  line-height: 34px;
}

.footer__col {
  padding-top: 50px;
}

.footer__col--middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__col--middle p {
  text-align: center;
}

.footer__col--middle .link {
  margin-top: 20px;
}

.footer__col--right {
  text-align: right;
}

.footer__title {
  margin-bottom: 20px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 0;
}

.social-links .icon {
  margin-left: 15px;
  color: #FFFFFF;
}

.social-links .icon-facebook {
  width: 23px;
}

.social-links .icon-email {
  width: 30px;
}

.mentions {
  margin-top: 60px;
}

.mentions p {
  line-height: 20px;
  margin-top: 0;
  font-size: 1.2rem;
}

.mentions-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

@media (min-width: 41.875em) {
  .mentions-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 0;
  }
}

.mentions-list li {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: calc(100% / 3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (min-width: 41.875em) {
  .mentions-list li {
    width: auto;
    text-align: right;
  }
}

@media (min-width: 41.875em) {
  .mentions-list li:not(:first-child) {
    margin-left: 15px;
  }
}

.mentions-list li:not(:first-child):before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 8px;
  height: 10px;
  line-height: 10px;
  display: block;
  content: '-';
  font-size: 1.2rem;
  -webkit-transform: translate3d(-5px, -50%, 0);
          transform: translate3d(-5px, -50%, 0);
}

@media (min-width: 41.875em) {
  .mentions-list li:not(:first-child):before {
    -webkit-transform: translate3d(-12px, -50%, 0);
            transform: translate3d(-12px, -50%, 0);
  }
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 20px;
}

.align-h {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 41.875em) {
  .align-h {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.button-container.align-v {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button-container.align-v .button {
  width: 100%;
  margin: 20px auto;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 60px;
  font-size: 2.4rem;
  border-radius: 10px;
  margin: 20px;
  padding: 10px 20px;
  text-align: center;
  -webkit-box-shadow: 8px 8px 3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 8px 8px 3px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media (min-width: 62.5em) {
  .button {
    font-size: 3rem;
  }
}

.button--big {
  min-height: 80px;
  padding: 15px 40px;
  font-size: 3rem;
}

@media (min-width: 62.5em) {
  .button--big {
    font-size: 4.3rem;
  }
}

.button--white {
  color: #000000;
}

.button--orange {
  color: #FFFFFF;
  background-color: #faaa44;
}

.button--orange:focus {
  color: #FFFFFF;
}

.button--orange:hover {
  color: #FFFFFF;
}

.button--green {
  color: #FFFFFF;
  background-color: #0be09e;
}

.button--green:focus, .button--green:hover {
  background-color: rgba(11, 224, 158, 0.9);
}

.button--dark {
  color: #FFFFFF;
  background-color: #2e3e4e;
}

.button--dark:focus {
  color: #FFFFFF;
  background-color: rgba(46, 62, 78, 0.75);
}

.button--dark:hover {
  color: #FFFFFF;
  background-color: rgba(46, 62, 78, 0.75);
}

.link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  font-size: 2rem;
}

.link--bordered {
  height: 40px;
  border-radius: 10px;
  border: 2px solid currentColor;
}

.section--four-columns {
  padding-top: 60px;
  padding-bottom: 70px;
}

.section--four-columns .h1 {
  margin-bottom: 0;
}

@media (min-width: 62.5em) {
  .section--four-columns .h1 {
    margin-bottom: 80px;
  }
}

.section--four-columns .col__content {
  margin-bottom: 30px;
}

@media (min-width: 62.5em) {
  .section--four-columns .col__content {
    margin-bottom: 40px;
  }
}

.section--four-columns .col__content .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto 20px;
}

.section--four-columns .col__content .icon-temps {
  width: 75px;
}

.section--four-columns .col__content .icon-suivre {
  width: 150px;
}

.section--four-columns .col__content .icon-smile {
  width: 130px;
}

.section--four-columns .col__content .h2,
.section--four-columns .col__content .h3 {
  margin-bottom: 20px;
}

.rc-tooltip.rc-tooltip-zoom-enter,
.rc-tooltip.rc-tooltip-zoom-leave {
  display: block;
}

.rc-tooltip-zoom-enter,
.rc-tooltip-zoom-appear {
  opacity: 0;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
          animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.rc-tooltip-zoom-leave {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
          animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.rc-tooltip-zoom-enter.rc-tooltip-zoom-enter-active,
.rc-tooltip-zoom-appear.rc-tooltip-zoom-appear-active {
  -webkit-animation-name: rcToolTipZoomIn;
          animation-name: rcToolTipZoomIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.rc-tooltip-zoom-leave.rc-tooltip-zoom-leave-active {
  -webkit-animation-name: rcToolTipZoomOut;
          animation-name: rcToolTipZoomOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@-webkit-keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}

@keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}

.section--wave {
  padding: 100px 0 0;
  background: url("../images/lokal/wave.svg") center center no-repeat;
  background-size: contain;
}

@media (min-width: 41.875em) {
  .section--wave {
    padding: 150px 0 0;
  }
}

.section--wave .title-container {
  margin-bottom: 0;
}

.section--wave:after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #0be09e;
}

.section--wave .icon-wave {
  display: block;
  width: 100%;
}

.section--wave .section--wave__container {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.section--wave .wrapper {
  width: 100%;
}

.row--wave {
  height: 200px;
}

.section--green {
  background-color: #0be09e;
}

.section--green .button-container {
  padding: 100px 0;
}

.section--three-columns {
  padding: 100px 0;
}

.section--three-columns .h1 {
  margin-bottom: 40px;
}

.section--three-columns p {
  margin-top: 40px;
}

.section--highlight {
  background-color: rgba(11, 224, 158, 0.2);
}

.title-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  padding: 20px 35px 0;
  margin-bottom: 30px;
}

@media (min-width: 62.5em) {
  .title-container {
    padding: 30px 50px 0;
    margin-bottom: 50x;
  }
}

.title-container .icon {
  position: absolute;
  top: 0;
  width: 35px;
}

@media (min-width: 62.5em) {
  .title-container .icon {
    width: 50px;
  }
}

.title-container .icon-title-left {
  left: 0;
}

.title-container .icon-title-right {
  right: 0;
}

.section--frame {
  padding: 30px 0 80px;
}

.frame-container {
  margin-bottom: 100px;
  padding: 50px;
  background: url("../images/lokal/frame.svg") center center no-repeat;
  background-size: contain;
}

.section--agir {
  padding: 50px 0;
}

.homepage .orange-medium {
  font-size: 25px;
  color: orange;
}

.homepage .row.row-modal {
  margin-left: 30px;
}

.homepage .before-radios {
  margin-bottom: 10px;
}

.homepage .double-textfield > div {
  margin-right: 10px;
}

.homepage .styles_modal__gNwvD {
  padding: 2.2em;
}

.homepage .styles_modal__gNwvD p {
  margin-top: 0;
}

.homepage .row.row-modal input {
  margin-top: auto;
  margin-bottom: auto;
  -webkit-appearance: radio;
}

.homepage #contact p {
  margin-top: 0px;
}

.homepage .line-je-suis > div > div {
  background-color: rgba(255, 255, 255, 0.5);
  width: 160px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
}

.homepage .line-je-suis > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1000px;
  width: 100%;
  font-size: 125%;
}

.homepage #main p {
  margin-top: 0;
}

@media (min-width: 50em) {
  .homepage #main p {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1440px) {
  .homepage #videoFb {
    width: 900px !important;
    height: 510px !important;
  }
}
