.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.align-h {
  flex-direction: column;
  @include mq($from: mobile) {
    flex-direction: row;
  }
}

.button-container.align-v {
  flex-direction: column;

  .button {
    width: 100%;
    margin: 20px auto;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  font-size: 2.4rem;
  border-radius: 10px;
  margin: 20px;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 8px 8px 3px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;

  @include mq($from: tablet) {
    font-size: 3rem;
  }
}

.button--big {
  min-height: 80px;
  padding: 15px 40px;
  font-size: 3rem;

  @include mq($from: tablet) {
    font-size: 4.3rem;
  }
}

.button--white {
  color: var(--black);
}

.button--orange {
  color: var(--white);
  background-color: var(--orange);

  &:focus,
  &:hover {
    color: var(--white);
  }
}

.button--green {
  color: var(--white);
  background-color: var(--green);

  &:focus,
  &:hover {
    background-color: color-mod(#0be09e a(90%));
  }
}


.button--dark {
  color: var(--white);
  background-color: var(--dark);

  &:focus,
  &:hover {
    color: var(--white);
    background-color: color-mod(#2e3e4e a(75%));
  }
}
