.section--frame {
  padding: 30px 0 80px;
}

.frame-container {
  margin-bottom: 100px;
  padding: 50px;
  background: url('../images/lokal/frame.svg') center center no-repeat;
  background-size: contain;
}